body {
  /* Padding, margins, etc. */
  margin: 0;
  padding: 0;
  background-color: white;
  color: #404040;
  font-size: 11pt;
  font-family: Georgia, Garamond, serif;
}

.navbar {
  background-color: #4f3c84;
  color: white;
  /* Padding, margins, etc */
  padding: 0.5rem 1rem;
  margin: 0;
  /* Spatial formatting */
  display: flex;
  align-items: stretch; /* Completely fill the available space */
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.navbar .logo {
  /*Padding, margins, etc. */
  padding: 0;
  margin: 0;
  min-height: 60px;
  /* Spatial formatting */
  display: flex;
  align-items: center;
}

.navbar .logo a {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo-image {
  display: block;
  height: 60px;
  width: auto;
}

.navbar .nav-links {

  /*Padding, margins, etc. */
  padding: 0;
  margin: 0;
  gap: 0.5rem;
  min-height: 60px;
  /* Remove default list styling */
  list-style: none;
  justify-content: space-between;
  /* Spaital formatting */
  display: flex;
  align-items: center;

}

.navbar li {
  /*Padding, margins, etc. */
  padding: 0;
  margin: 0;
  /* Remove default list item styling */
  list-style: none;
  text-decoration: none;
  text-align: center;
}

.navbar a {
  padding: 0 1rem;
  height: 100%;
  /* Remove default link styling */
  display: flex;
  text-decoration: none;
  align-items: center;
  color: white;
}

.container {
  border: 1px solid magenta;
  /* Padding, margins, etc. */
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 50px;
}

.heading {
    border: 1px solid cyan;
    font-weight: bold;
    font-size: 22pt;
    color: #A4A400;
    /* Padding, margins, etc. */
    margin: 0;
    padding: 10px 0;
}
